@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


header{ 
    color: white;
    background-color: rgb(19, 15, 15);
    height: 74px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;}
.icon1{
    height: 75px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.headh1{
    font-family: 'Great Vibes', cursive;
    position: absolute;
    left: 40px;
    top: 8px;
}

.headerdiv{
    height: 30px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    right: 2px;
    top: 40px;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{color:rgb(140, 210, 233);}


/* .....main...... */

.h1img{
    height: 378px;
    position: absolute;
    top: 74px;
    left: 0px;
    right: 0px;
}

.mdh1{
    height: 160px;
    /* background-color: blueviolet; */
    width: 556px;
    position: absolute;
    top: 213px;
    left: 15%;}
    .mh1{color: white;font-size: 60px;}
    .ph1{color: rgb(246, 250, 250);font-size: 25px;font-family: 'Great Vibes', cursive;
        text-align: end;}


.main2{
    width: 100%;
    color: black;
    margin-top: 455px;
    margin-right: 0px;
    margin-left: 0px;
}

.int1{
    display: flex;
    justify-content: space-between;
}

.intro{
    /* background-color: white; */
    height:500px ;
    width: 75%;
    font-size: 19px;
    padding:20px;
}
.introside{
    height:500px ;
    width: 20%;
    /* background-color: aliceblue; */
    margin-top: 10px;
    border: 1px solid brown;
}
.int2{
    display: flex;
    justify-content: center;
    text-align: center;
}

.types{
    padding: 20px;
    background-color: aliceblue;
    height: 450px;
    width: 350px;
    text-align: center;
}

.int3{
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

ul{
    font-size: 25px;font-family: 'Great Vibes', cursive;
}
.main5{
    height: 750px;
    background-image: url(/Images/lbg.jpg);
}
.body2{
   /* background-color: aqua; */
   height: 750px;
   width: 75%;
}

/* .....footer...... */


.foo{
    height: 250px;
    width:1896px;
    background-color: rgb(155, 119, 90);
    display: flex;
    justify-content: space-between;
    
}

.foofs{
    /* background-color: aqua; */
    text-align: start;
    height: 250px;
    margin-left: 75px;
}

.foocp{
    text-align: center;
    margin-top: 75px;
}

.fooes{
    margin-top: 100px;
    margin-right: 100px;
    width: 250px;
    height: 150px;
    /* background-color: aliceblue; */
    text-align: end;
}

.float{
    color: rgb(54, 36, 36);
    position: fixed;
    top: 650px;
    right: 2px;
}